<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <button (click)="faves()">FAVES</button>
  </h1>

  <span>Use the form below to search for houses to buy. You can search by place-name,postcode,on click 'My location', to search
    in your current location.</span>
  <br>

  <input myInput placeholder="text" [formControl]="inputControl" />

  <br>
  <button (click)="go()">Go</button>
  <button (click)="myLocation()">My location</button>
  <h2>Recent searches:</h2>

  <ul>
    <li (click)="currentPlace(itemRequest)" class="myUl" *ngFor="let itemRequest of searchRequest">
      {{itemRequest?.location}} ({{itemRequest?.total_results}})
    </li>
  </ul>